{% extends 'base.html' %}
{% load bs_filter %}
{% load static %}
{% block content %}
  <!-- [E]opilsol-N1 -->
  <main class="th-layout-main ">
    <div class="opilsol-N9" data-bid="eSlqyGtEYO">
      <div class="visual-container">
        <img class="visual-bg pc-img" src="{% static 'images/banner.png' %}" alt="서브 비주얼 이미지">
        <img class="visual-bg mobile-img" src="{% static 'images/banner.png' %}" alt="서브 비주얼 이미지">
        <div class="visual-txt-box container-md">
          <h2 class="visual-title"> Bs-Stock </h2>
        </div>
      </div>
    </div>
  </main>
{% endblock %}