{% extends 'base.html' %}
{% load bs_filter %}
{% load static %}
{% block content %}
<!-- Services-->
<!-- Masthead-->
<header class="masthead" style="background-image: url({% static 'assets/banner_test.png' %})">
    <div class="container">
{#        <div class="masthead-heading text-uppercase">Bs-Stock</div>#}
    </div>
</header>
<section class="page-section" id="services">
    <div class="container shadow p-3 mb-5 bg-body rounded" style="padding: 5%">
{#        <div class="text-center">#}
{#            <h2 class="section-heading text-uppercase">Services</h2>#}
{#            <h3 class="section-subheading text-muted">Bs-stock Service.</h3>#}
{#        </div>#}
    <div class="row">
        <div class="col-12 main_col_img">
            <img class="img-fluid main_click" src="{% static 'images/sub/click.png' %}" alt="...">
        </div>
    </div>
    <div class="row main_img">
        <div class="col-md-5">
            <img class="img-fluid" src="{% static 'images/service_1.png' %}" onclick="OnloadImg(this.src)" alt="...">
            <img class="img-fluid" src="{% static 'images/service_2.png' %}" onclick="OnloadImg(this.src)" alt="...">
            <img class="img-fluid" src="{% static 'images/service_3.png' %}" onclick="OnloadImg(this.src)" alt="...">
        </div>
        <div class="col-md-7">
            <br>
            <p style="color: red">Buy : 매수</p>
            <p style="color: blue">Sell : 매도</p>
            <br>
            <p>ex) : <span class="red-underlined">&nbsp;1000만원&nbsp;</span> <span style="color: red">1%</span> <span class="red-underlined">&nbsp;10만원</span></p><br>
            <p><span class="red-underlined">1천만원</span>으로 하루에 &nbsp;2% 수익&nbsp; <span class="red-underlined">20만원</span>, 일주일에 5일 &nbsp;100만원, 한 달이면 &nbsp;400만원 입니다.</p>
            <p>이렇게 각자의 투자금에 따라 복리 효과로 꾸준히 주식으로 수익을 내서 생각해야지</p>
            <p>1 ~ 2 종목사서 한번에 부자되는 확률은 극히 낮습니다.</p>
            <p>9시부터 &nbsp;3시 &nbsp;20분까지 내가 참여&nbsp;할수있는 시간에</p>
            <p>1~3&nbsp;종목 언제든 10~20&nbsp;분 정도 종목을 기다렸다가 수익을 내시면 됩니다.</p>
        </div>
    </div>
</div>
</section>
    <style>
    .main_img {
        margin-top: 20px; /* 상단 여백 조절 */
    }

    .main_img img {
        width: 100%; /* 이미지 가로 폭 100%로 조절 */
        height: auto; /* 이미지 비율 유지 */
    }

    .main_img .col-md-7 {
        font-weight: bold;
        font-size: 1.5rem;
        margin-top: 20px; /* 상단 여백 조절 */
    }

    .main_img p {
        margin-bottom: 10px; /* 문단 간격 조절 */
    }
</style>
<script>

function OnloadImg(url) {
  var img = new Image();
  img.src = url;
  var img_width = img.width;
  var win_width = img.width + 25;
  var height = img.height + 30;

  var OpenWindow = window.open('', '_blank', 'width=' + win_width + ', height=' + height + ', menubars=no, scrollbars=auto');

  OpenWindow.document.write("<style>body{margin:0px; cursor:pointer;}</style><img src='" + url + "' width='" + win_width + "'>");

  // 이미지 클릭 이벤트 추가하여 팝업 창 닫기
  OpenWindow.document.getElementsByTagName('img')[0].onclick = function() {
    OpenWindow.close();
  };
}

</script>
{% endblock %}
{% include "footer.html" %}