@charset "utf-8"; 


/* hooms-N58 [ltLqYJy46b] */
.hooms-N58 { border-bottom: 1px solid var(--border-color); }
.hooms-N58 .tabset.tabset-solid { border-bottom: 0; }

/* hooms-N35 [UXLqYJY486] */
.hooms-N35 .contents-inner { padding: 10rem 2.4rem; }
.hooms-N35 .textset { margin-top: 0; margin-bottom: 2.4rem; text-align: center; }
.hooms-N35 .contents-subtit { margin-bottom: 4rem; font-size: var(--fs-h3); line-height: var(--lh-h3); font-weight: 500; text-align: center; }
.hooms-N35 .root_daum_roughmap { width: 100%; margin: 0 auto !important; }
.hooms-N35 .root_daum_roughmap .wrap_map { height: 40rem; }
.hooms-N35 .root_daum_roughmap .wrap_controllers { display: none; }
.hooms-N35 .contents-info-list { flex-direction: column; align-items: flex-start; padding: 0; margin-top: 2.4rem; }
 .hooms-N35 .contents-info-item:first-child { width: 100%; }
 .hooms-N35 .contents-info-item { width: 100%; padding: 1.2rem 0; }
.hooms-N35 .contents-traffic-list { padding: 4rem 0; border-top: 1px solid gray; border-bottom: 1px solid gray; }
.hooms-N35 .contents-traffic-item { width: 100%; }
.hooms-N35 .contents-traffic-item+.contents-traffic-item { margin-top: 4rem; }
.hooms-N35 .contents-ico { display: flex; align-items: center; font-size: 2rem; font-weight: 500; font-family: sans-serif;}
.hooms-N35 .contents-figure { display: flex; align-items: center; width: 2.4rem; height: 2.4rem; margin: 0; margin-right: 0.8rem; }
.hooms-N35 .contents-figure img { width: 100%; height: 100%; object-fit: cover; }
.hooms-N35 .contents-desc { margin-top: 1.2rem; font-size: var(--fs-p1); line-height: var(--lh-p1); color: var(--text-color1); font-family: sans-serif;}
.hooms-N35 .contents-btn { margin-top: 4rem; text-align: center; }
.hooms-N35 .contents-btn .btnset { min-width: 26rem; }
@media (max-width: 992px) {
 .hooms-N35 .contents-inner { padding: 6rem 2.4rem; }
 .hooms-N35 .contents-subtit { margin-bottom: 2.4rem; }
 .hooms-N35 .contents-info-list { flex-direction: column; align-items: flex-start; padding: 0; margin-top: 2.4rem; }
 .hooms-N35 .contents-info-item:first-child { width: 100%; }
 .hooms-N35 .contents-info-item { width: 100%; padding: 1.2rem 0; }
 .hooms-N35 .contents-traffic-list { padding: 2.4rem 0; }
 .hooms-N35 .contents-traffic-item+.contents-traffic-item { margin-top: 2.4rem; }
 .hooms-N35 .contents-ico { font-size: 1.6rem; }
 .hooms-N35 .contents-figure { width: 2rem; height: 2rem; margin-right: 0.4rem; }
 .hooms-N35 .contents-desc { margin-top: 0.4rem; }
}
@media (max-width: 768px) {
 .hooms-N35 .root_daum_roughmap .wrap_map { height: 25rem; }
}

/* opilsol-N13 [qMlqyq6D43] */
.opilsol-N13 .content-container { margin: 5% }
.opilsol-N13 .content-group { position: relative; }
.opilsol-N13 .content-group .img-box { width: calc(50% + 16rem); height: 81.3rem; }
.opilsol-N13 .content-group .img-box .mobile-img { display: none; }
.opilsol-N13 .content-group .img-box img { width: 100%; height: 100%; object-fit: cover; object-position: center top; }
.opilsol-N13 .content-group .txt-box { position: absolute; right: 0; bottom: 0; padding: 8rem 4rem 8rem 8rem; width: calc(50% + 12rem); height: 71.3rem; background-color: var(--white); }
.opilsol-N13 .content-group .txt-box .textset { padding: 0; }
.opilsol-N13 .content-group .txt-box .textset-tit { font-size: var(--fs-h2); line-height: var(--lh-h2); font-weight: 500; letter-spacing: var(--lt-sp); word-break: keep-all; }
.opilsol-N13 .content-group .txt-box .textset-desc { margin-top: 5rem; font-size: var(--lh-p3); color: var(--text-color1); }
.opilsol-N13 .content-group .txt-box .textset-desc>p { margin-bottom: 1.5rem; letter-spacing: -0.15rem; word-break: keep-all; }
.opilsol-N13 .content-group .txt-box .textset-desc>.bottom-txt { margin-top: 4.5rem; font-size: var(--fs-h5); font-weight: 600; color: var(--text-color1); }
.opilsol-N13 .content-group .txt-box .br { display: block; }
@media (max-width: 1024px) {
 .opilsol-N13 .content-container { padding: 5rem 0; margin-bottom: 2rem; }
 .opilsol-N13 .container-md { padding: 0 1.6rem; }
 .opilsol-N13 .content-group { display: flex; flex-direction: column; }
 .opilsol-N13 .content-group .img-box { width: 100%; height: 38rem; }
 .opilsol-N13 .content-group .txt-box { position: static; width: 100%; height: auto; }
}
@media (max-width: 922px) {
 .opilsol-N13 .content-group .img-box .pc-img { display: none; }
 .opilsol-N13 .content-group .img-box .mobile-img { display: block; }
 .opilsol-N13 .content-group .txt-box { padding: 1.6rem; }
 .opilsol-N13 .content-group .txt-box .textset-tit { font-size: var(--fs-h4); line-height: var(--lh-h4); letter-spacing: -0.1rem; }
 .opilsol-N13 .content-group .txt-box .textset-desc { margin-top: 4rem; }
 .opilsol-N13 .content-group .txt-box .br { display: inline; }
}

/* opilsol-N34 [cKlqxAXQu4] */
.opilsol-N34 .content-container { margin: 8rem auto 0; }
.opilsol-N34 .content-tit .textset-eu { margin-bottom: 2rem; text-align: center; font-size: var(--fs-h6); font-family: var(--ff-po); font-weight: 500; color: var(--text-color4); }
.opilsol-N34 .content-tit .textset-tit { text-align: center; line-height: var(--ht-lg); font-size: var(--ht-lg); }
@media (max-width: 922px) {
 .opilsol-N34 .content-container { margin: 5rem auto 0; }
 .opilsol-N34 .content-md { padding: 0 1.6rem; }
 .opilsol-N34 .content-tit { padding: 4rem 0 0; }
 .opilsol-N34 .content-tit .textset-eu { margin-bottom: 1rem; }
 .opilsol-N34 .content-tit .textset-tit { font-size: 3.6rem; }
}
/* opilsol-N14 [gxlQXAXQV1] */
.opilsol-N14 .content-container { padding: 5rem 0; }
.opilsol-N14 .col-group { display: flex; justify-content: flex-start; align-items: flex-start; }
.opilsol-N14 .col-group .left,.opilsol-N14 .col-group .right { flex: 1 1 0; }
.opilsol-N14 .col-group .history-tit { line-height: var(--fs-h1); font-size: var(--ht-md); font-family: var(--ff-po); font-weight: 600; }
.opilsol-N14 .col-group .history-list>li { position: relative; padding-left: 4.7rem; padding-bottom: 2rem; border-left: 1px solid var(--line-color1); }
/*.opilsol-N14 .col-group .history-list>li::before { content: url("../../resources/icons/ico_gray_circle.svg"); position: absolute; left: -1.4rem; top: 0; }*/
.opilsol-N14 .col-group .history-list>li.active { position: relative; padding-bottom: 1rem; padding-top: 2rem; border-left: 1px solid var(--primary); }
.opilsol-N14 .col-group .history-list>li .year { position: absolute; left: -8.5rem; top: 0; max-width: 4rem; text-align: right; font-size: 1.7rem; font-weight: 600; font-family: var(--ff-po); }
.opilsol-N14 .col-group .history-list .inner-list>li { margin-bottom: 4rem; }
.opilsol-N14 .col-group .history-list .inner-list>li:last-child { margin-bottom: 1.8rem; }
.opilsol-N14 .col-group .history-list .inner-list>li>p { display: flex; justify-content: flex-start; align-items: flex-start; margin-bottom: 2.1rem; }
.opilsol-N14 .col-group .history-list .inner-list .date { display: block; margin-right: 3rem; width: 4.1rem; text-align: right; font-size: var(--fs-p1); font-weight: 600; font-family: var(--ff-po); }
.opilsol-N14 .col-group .history-list .inner-list .date+span { display: block; flex: 1 1 0; font-size: var(--fs-p1); letter-spacing: var(--lt-sp); color: var(--text-color1); word-break: keep-all; }
@media (max-width: 1024px) {
 .opilsol-N14 .content-container { padding: 3rem 0; }
 .opilsol-N14 .container-md { padding: 0 1.6rem; }
}
@media (max-width: 922px) {
 .opilsol-N14 .col-group { flex-direction: column; }
 .opilsol-N14 .col-group .history-tit { margin-bottom: 1rem; font-size: var(--ht-sm); }
 .opilsol-N14 .col-group .right { padding-left: 6.6rem; }
 .opilsol-N14 .col-group .history-list>li { padding-left: 2.1rem; padding-bottom: 1.7rem; }
 .opilsol-N14 .col-group .history-list>li .year { left: -6.5rem; top: 0; font-size: 1.6rem; }
 .opilsol-N14 .col-group .history-list .inner-list>li { margin-bottom: 2rem; }
 .opilsol-N14 .col-group .history-list .inner-list .date { margin-right: 2rem; }
}



/* opilsol-N7 [MlLQOsre25] */
.opilsol-N7 { overflow: hidden; position: relative; padding: 8rem 0; }
.opilsol-N7 .sub-visual-bg { height: 48rem; }
.opilsol-N7 .sub-visual-bg img { float: right; width: 100%; height: 100%; object-fit: cover; }
.opilsol-N7 .sub-visual-bg .mobile-img { display: none; }
.opilsol-N7 .content-container { position: absolute; left: 0; top: 50%; width: 100%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); }
.opilsol-N7 .textset .textset-desc { opacity: 0.7; font-size: var(--fs-h4); line-height: var(--lh-h4); font-weight: 400; color: var(--text-color5); }
@media (max-width: 1366px) {
 .opilsol-N7 { padding: 10rem 0; }
}
@media (max-width: 1279px) {
 .opilsol-N7 { padding: 4rem 0; }
 .opilsol-N7 .sub-visual-bg { height: 40rem; }
}
@media (max-width: 1024px) {
 .opilsol-N7 .content-container { padding-right: 10%; }
 .opilsol-N7 .textset .textset-desc { font-size: var(--fs-h5); }
}
@media (max-width: 540px) {
 .opilsol-N7 .sub-visual-bg .pc-img { display: none; }
 .opilsol-N7 .sub-visual-bg .mobile-img { display: block; width: 100%; }
}

/* opilsol-N8 [amlQOsre2I] */
.opilsol-N8 { position: relative; padding: 8rem; overflow: hidden; }
.opilsol-N8 .content-container { position: relative; }
.opilsol-N8 .container-lg { display: flex; justify-content: flex-end; width: 100%; background-color: var(--white); }
.opilsol-N8 .content-container { display: flex; justify-content: space-between; align-items: center; width: 100%; max-width: 160rem; }
.opilsol-N8 .content-container .left { flex-shrink: 0; position: relative; z-index: 2; width: 100%; max-width: 48rem; height: 100%; background-color: var(--white); }
.opilsol-N8 .content-container .left::before { content: ''; position: absolute; top: 0; right: 100%; width: calc(100vw + 100vw); height: 100%; z-index: 1; background-color: var(--white); }
.opilsol-N8 .textset { margin-right: 2rem; padding: 2rem 0; }
.opilsol-N8 .textset .textset-tit { line-height: var(--lh-h1); font-size: var(--fs-h1); font-family: var(--ff-po); letter-spacing: -0.3rem; }
.opilsol-N8 .textset .textset-desc { color: var(--text-color2); letter-spacing: var(--lt-sp); }
.opilsol-N8 .textset .btnset { font-size: var(--fs-p1); font-weight: 500; color: var(--text-color5); }
.opilsol-N8 .right { position: relative; padding-left: 0; width: 70%; z-index: 1; }
.opilsol-N8 .right .slide-container { padding: 1.6rem; width: 100%; }
.opilsol-N8 .right .slide-container .swiper-slide { box-shadow: 0 1rem 1rem rgba(var(--black-rgb), 0.05); }
.opilsol-N8 .right .slide-container .cardset.cardset-border { border: 0 none; }
.opilsol-N8 .right .slide-container .cardset .cardset-body { padding: 3.2rem; }
.opilsol-N8 .right .slide-container .cardset .cardset-tit { margin-bottom: 2.3rem; line-height: var(--lh-h4); font-size: var(--fs-h4); font-weight: 700; }
.opilsol-N8 .right .slide-container .cardset .cardset-txt { line-height: var(--lh-p1); font-size: var(--fs-p1); font-family: var(--ff-po); }
.opilsol-N8 .swiper-control { display: flex; align-items: center; margin-top: 4rem; position: relative; width: 7rem; }
.opilsol-N8 .swiper-button-prev::after,.opilsol-N8 .swiper-button-next::after { display: none; }
.opilsol-N8 .swiper-button-prev { margin-left: -1.6rem; width: 3.2rem; height: 3.2rem; transform: rotate(-180deg); background: url("../../resources/icons/ico_slide_arrow_black.svg") center/2.4rem 1.7rem no-repeat; -webkit-transform: rotate(-180deg); -moz-transform: rotate(-180deg); -ms-transform: rotate(-180deg); -o-transform: rotate(-180deg); filter: invert(50%); -webkit-filter: invert(50%); }
/*.opilsol-N8 .swiper-button-next { width: 3.2rem; height: 3.2rem; background: url("../../resources/icons/ico_slide_arrow_black.svg") center 0.7rem/2.4rem 1.7rem no-repeat; filter: invert(50%); -webkit-filter: invert(50%); }*/
.opilsol-N8 .swiper-button-prev:hover,.opilsol-N8 .swiper-button-next:hover { filter: invert(0); -webkit-filter: invert(0); }
@media (max-width: 1366px) {
 .opilsol-N8 { padding: 4rem 0; }
 .opilsol-N8 .left { padding: 0 1.6rem; }
}
@media (max-width: 1279px) {
 .opilsol-N8 { position: relative; }
 .opilsol-N8 .content-container { flex-direction: column; align-items: flex-start; padding-bottom: 10rem; }
 .opilsol-N8 .left { position: relative; width: 100%; height: auto !important; }
 .opilsol-N8 .right { width: 100%; height: 40rem; }
 .opilsol-N8 .right .slide-container { padding: 0 0 0 1.6rem; height: 40rem; }
 .opilsol-N8 .right .slide-container .swiper-slide { width: 29.8rem; height: 36.6rem; }
 .opilsol-N8 .right .slide-container .swiper-slide .link-slide { display: block; }
 .opilsol-N8 .right .slide-container .swiper-slide .cardset .cardset-figure { height: 20rem; }
 .opilsol-N8 .right .slide-container .cardset .cardset-body { padding: 2.4rem; }
 .opilsol-N8 .textset { margin-right: 0; }
 .opilsol-N8 .textset .textset-tit { font-size: var(--ht-sm); }
 .opilsol-N8 .btnset-position { position: absolute; padding-top: 39rem; width: 100%; text-align: center; }
 .opilsol-N8 .swiper-button-prev, .opilsol-N8 .swiper-button-next { width: 2.8rem; height: 2.8rem; background-size: 2rem 1.7rem; }
 .opilsol-N8 .swiper-button-next { background-position: center 0.45rem; }
}
@media (max-width: 922px) {
 .opilsol-N8 .right .slide-container { padding: 0 1.6rem 0 1.6rem; }
 .opilsol-N8 .right .slide-container .cardset .cardset-tit { font-size: var(--fs-h5); }
 .opilsol-N8 .right .slide-container .cardset .cardset-txt { font-family: var(--ff-ko); }
}

/* opilsol-N9 [WqLqxAXqpH] */
.opilsol-N9 .visual-container { position: relative; left: 0; top: 0; width: 100%; height: 54rem; }
.opilsol-N9 .visual-container .visual-bg { width: 100%; height: 100%; object-fit: cover; object-position: top center; }
.opilsol-N9 .visual-container .visual-bg.mobile-img { display: none; width: 100%; height: 100%; object-fit: cover; object-position: top center; }
.opilsol-N9 .visual-txt-box { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1; padding: 0 1.6rem; width: 100%; letter-spacing: -0.15rem; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); }
.opilsol-N9 .visual-title { margin-bottom: 4.5rem; font-size: var(--ht-md); color: var(--text-color5); letter-spacing: -0.025rem; text-align: center; }
.opilsol-N9 .visual-description { opacity: 0.7; text-align: center; font-size: var(--fs-h6); color: var(--text-color5); }
@media (max-width: 1024px) {
 .opilsol-N9 .visual-txt-box { top: 55%; padding-right: 5rem; }
}
@media (max-width: 922px) {
 .opilsol-N9 .visual-container { height: 50rem; }
 .opilsol-N9 .visual-txt-box { padding-right: 5rem; }
 .opilsol-N9 .visual-txt-box .br { display: block; }
 .opilsol-N9 .visual-title { margin-bottom: 2.5rem; }
 .opilsol-N9 .visual-title { text-align: left; }
 .opilsol-N9 .visual-description { text-align: left; }
}
@media (max-width: 375px) {
 .opilsol-N9 .visual-container .visual-bg.pc-img { display: none; }
 .opilsol-N9 .visual-container .visual-bg.mobile-img { display: block; }
}

/* opilsol-N33 [cplQXaxQRq] */
.opilsol-N33 .sub-menu { z-index: 10; margin-bottom: 8rem; position: relative; opacity: 0.7; text-align: center; font-size: var(--fs-h6); color: var(--text-color5); border: 1px solid var(--line-color1); }
.opilsol-N33 .content-container .dropset-head { width: 5.6rem; height: var(--ht-lg); border: 1px solid var(--line-color1); border-bottom: 0 none; }
/*.opilsol-N33 .content-container .dropset-head::after { content: url("../../resources/icons/ico_home_black.svg"); font-family: var(--ff-ico); font-size: var(--fs-h5); }*/
.opilsol-N33 .content-container .dropset .btn { width: 26rem; height: var(--ht-lg); }
.opilsol-N33 .content-container .dropset.dropset-solid .dropset-toggle { border: 1px solid var(--line-color1); border-bottom: 0 none; }
.opilsol-N33 .content-container .dropset.dropset-solid .dropset-list { border: 1px solid var(--line-color1); }
@media (max-width: 1366px) {
 .opilsol-N33 .sub-menu .container-md { padding: 0 1.6rem; }
}
@media (max-width: 1024px) {
 .opilsol-N33 .sub-menu { display: none; }
}

/* opilsol-N34 [cKlqxAXQu4] */
.opilsol-N34 .content-container { margin: 8rem auto 0; }
.opilsol-N34 .content-tit .textset-eu { margin-bottom: 2rem; text-align: center; font-size: var(--fs-h6); font-family: var(--ff-po); font-weight: 500; color: var(--text-color4); }
.opilsol-N34 .content-tit .textset-tit { text-align: center; line-height: var(--ht-lg); font-size: var(--ht-lg); }
@media (max-width: 922px) {
 .opilsol-N34 .content-container { margin: 5rem auto 0; }
 .opilsol-N34 .content-md { padding: 0 1.6rem; }
 .opilsol-N34 .content-tit { padding: 4rem 0 0; }
 .opilsol-N34 .content-tit .textset-eu { margin-bottom: 1rem; }
 .opilsol-N34 .content-tit .textset-tit { font-size: 3.6rem; }
}

/* opilsol-N15 [WDLQXaxqVT] */
.opilsol-N15 .content-container { margin-bottom: 11rem; padding: 5rem 0; }
.opilsol-N15 .col-group { display: flex; justify-content: flex-start; align-items: flex-start; }
.opilsol-N15 .col-group .left,.opilsol-N15 .col-group .right { flex: 1 1 0; }
.opilsol-N15 .col-group .history-tit { line-height: var(--fs-h1); font-size: var(--ht-md); font-family: var(--ff-po); font-weight: 600; }
.opilsol-N15 .col-group .history-list>li { position: relative; padding-left: 4.7rem; padding-bottom: 2rem; border-left: 1px solid var(--line-color1); }
/*.opilsol-N15 .col-group .history-list>li::before { content: url("../../resources/icons/ico_gray_circle.svg"); position: absolute; left: -1.4rem; top: 0; }*/
.opilsol-N15 .col-group .history-list>li.active { position: relative; padding-bottom: 4rem; border-left: 1px solid var(--primary); }
/*.opilsol-N15 .col-group .history-list>li.active::before { content: url("../../resources/icons/ico_red_circle.svg"); position: absolute; }*/
/*.opilsol-N15 .col-group .history-list>li.active+li::before { content: url("../../resources/icons/ico_red_circle.svg"); position: absolute; }*/
.opilsol-N15 .col-group .history-list>li .year { position: absolute; left: -8.5rem; top: 0; max-width: 4rem; text-align: right; font-size: 1.7rem; font-weight: 600; font-family: var(--ff-po); }
.opilsol-N15 .col-group .history-list .inner-list>li { margin-bottom: 4rem; }
.opilsol-N15 .col-group .history-list .inner-list>li:last-child { margin-bottom: 1.8rem; }
.opilsol-N15 .col-group .history-list .inner-list>li p { display: flex; justify-content: flex-start; align-items: flex-start; margin-bottom: 2.1rem; }
.opilsol-N15 .col-group .history-list .inner-list .date { display: block; margin-right: 2.5rem; width: 4.1rem; text-align: right; font-size: var(--fs-p1); font-weight: 600; font-family: var(--ff-po); }
.opilsol-N15 .col-group .history-list .inner-list .date+span { display: block; flex: 1 1 0; font-size: var(--fs-p1); letter-spacing: var(--lt-sp); color: var(--text-color3); word-break: keep-all; }
@media (max-width: 1024px) {
 .opilsol-N15 .content-container { margin-bottom: 7rem; padding: 3rem 0; }
 .opilsol-N15 .container-md { padding: 0 1.6rem; }
}
@media (max-width: 922px) {
 .opilsol-N15 .col-group { flex-direction: column; }
 .opilsol-N15 .col-group .history-tit { margin-bottom: 4rem; font-size: var(--ht-sm); }
 .opilsol-N15 .col-group .right { padding-left: 6.6rem; }
 .opilsol-N15 .col-group .history-list>li { padding-left: 2.1rem; padding-bottom: 1.7rem; }
 .opilsol-N15 .col-group .history-list>li .year { left: -6.5rem; top: 0; font-size: 1.6rem; }
 .opilsol-N15 .col-group .history-list .inner-list>li { margin-bottom: 2rem; }
 .opilsol-N15 .col-group .history-list .inner-list .date { margin-right: 2rem; }
}

/* opilsol-N11 [UyLqyvNjnw] */
.opilsol-N11 .content-container { padding: 8rem 0; }
.opilsol-N11 .content-group { position: relative; display: flex; justify-content: space-between; align-items: center; }
.opilsol-N11 .content-group .img-box { width: calc(50% + 4rem); height: 70rem; }
.opilsol-N11 .content-group .img-box img { width: 100%; height: 100%; object-fit: cover; }
.opilsol-N11 .content-group .txt-box { width: calc(50% - 14rem); padding: 0 2rem 0 0; }
.opilsol-N11 .content-group .txt-box .textset { padding: 0; }
.opilsol-N11 .content-group .txt-box .textset-tit { padding-bottom: 2rem; font-size: var(--ht-xs); line-height: var(--lh-h2); letter-spacing: var(--lt-sp); word-break: keep-all; }
.opilsol-N11 .content-group .txt-box .textset-desc { line-height: var(--lh-h6); font-size: var(--lh-p3); color: var(--text-color3); letter-spacing: -0.1rem; word-break: keep-all; }
.opilsol-N11 .content-group .txt-box .br { display: block; }
@media (max-width: 1366px) {
 .opilsol-N11 .container-md { padding: 0 1.6rem; }
 .opilsol-N11 .content-group .txt-box { width: calc(50% - 9rem); }
 .opilsol-N11 .content-group .txt-box .textset-desc { padding-right: 2rem; }
}
@media (max-width: 1024px) {
 .opilsol-N11 .content-container { padding: 5rem 0; }
 .opilsol-N11 .content-group .img-box { height: 55rem; }
 .opilsol-N11 .content-group .txt-box .br { display: inline; }
}
@media (max-width: 922px) {
 .opilsol-N11 .content-group { flex-direction: column; }
 .opilsol-N11 .content-group .img-box { margin-bottom: 4rem; width: 100%; min-width: 32.8rem; height: 32rem; }
 .opilsol-N11 .content-group .txt-box { padding: 0; width: 100%; }
 .opilsol-N11 .content-group .txt-box .textset-tit { padding-bottom: 0; }
 .opilsol-N11 .content-group .txt-box .textset-desc { padding-right: 0; letter-spacing: var(--lt-sp); }
}


/* opilsol-N71 [UyLqyvNjnw] */
.opilsol-N71 .content-container { padding: 5rem 0; }
.opilsol-N71 .content-group { position: relative; display: flex; justify-content: space-between; align-items: center; }
.opilsol-N71 .content-group .img-box { width: calc(50% + 4rem); height: 70rem; }
.opilsol-N71 .content-group .img-box img { width: 100%; height: 100%;}
.opilsol-N71 .content-group .txt-box { width: calc(50% - 14rem); padding: 0 2rem 0 0; }
.opilsol-N71 .content-group .txt-box .textset { padding: 0; }
.opilsol-N71 .content-group .txt-box .textset-tit { padding-bottom: 2rem; font-size: var(--ht-xs); line-height: var(--lh-h2); letter-spacing: var(--lt-sp); word-break: keep-all; }
.opilsol-N71 .content-group .txt-box .textset-desc { line-height: var(--lh-h6); font-size: var(--lh-p3); color: var(--text-color3); letter-spacing: -0.1rem; word-break: keep-all; }
.opilsol-N71 .content-group .txt-box .br { display: block; }
.opilsol-N71 .container-md { max-width: 85%; margin: 0 auto }
@media (max-width: 1366px) {
 .opilsol-N71 .container-md { padding: 0 1.6rem; }
 .opilsol-N71 .content-group .txt-box { width: calc(50% - 9rem); }
 .opilsol-N71 .content-group .txt-box .textset-desc { padding-right: 2rem; }
}
@media (max-width: 748px) {
 .opilsol-N71 .content-container { padding: 2rem 0; }
 .opilsol-N71 .content-group .img-box { height: 55rem; }
 .opilsol-N71 .content-group .txt-box .br { display: inline; }
 .opilsol-N71 .contents-offline-desc { margin-top:1.5rem;font-size: var(--fs-p1); line-height: var(--lh-p1); color: var(--text-color1); }
}
@media (max-width: 922px) {
 .opilsol-N71 .content-group { flex-direction: column; }
 .opilsol-N71 .content-group .img-box { margin-bottom: 4rem; width: 100%; min-width: 32.8rem; height: 32rem; }
 .opilsol-N71 .content-group .txt-box { padding: 0; width: 100%; }
 .opilsol-N71 .content-group .txt-box .textset-tit { padding-bottom: 0; }
 .opilsol-N71 .content-group .txt-box .textset-desc { padding-right: 0; letter-spacing: var(--lt-sp); }
}

@media (min-width: 1200px) {
 .opilsol-N71 .content-container { padding: 0rem 0; }
 .opilsol-N71 .content-group .img-box { height: 55rem; }
 .opilsol-N71 .content-group .txt-box .br { display: inline; }
}

@media (min-width: 1900px) {
 .opilsol-N71 .content-container { padding: 8rem 0; }
 .opilsol-N71 .content-group .img-box { height: 55rem; }
 .opilsol-N71 .content-group .txt-box .br { display: inline; }
}


.opilsol-N71 .contents-desc { margin-top: 1.2rem; font-size: var(--fs-p1); line-height: var(--lh-p1); color: var(--text-color1); }
.opilsol-N71 .contents-offline-desc { font-size: var(--fs-p1); line-height: var(--lh-p1); color: var(--text-color1); }
.opilsol-N71 .welcome_text { margin-top: 1.2rem; font-size: var(--fs-p1); line-height: var(--lh-p1); color: var(--text-color1); }
.opilsol-N71 .sub_title { margin-top: 1.2rem; font-size: 2.7rem; line-height: var(--lh-p1); color: var(--text-color1); }

/* opilsol-N25 [vkLqywnisu] */
.opilsol-N25 .content-container { margin-bottom: 8rem; padding: 8rem 0; }
.opilsol-N25 .contant-header.textset { padding-top: 0; }
.opilsol-N25 .contant-header .textset-tit { text-align: center; line-height: var(--fs-h2); letter-spacing: -0.05rem; font-weight: 500; }
.opilsol-N25 .contant-header .textset-desc { margin-top: 2.5rem; text-align: center; font-weight: 400; font-family: var(--ff-po); color: var(--text-color7); }
.opilsol-N25 .contant-body { border-top: 1px solid var(--line-color3); border-bottom: 1px solid var(--line-color1); }
.opilsol-N25 .contant-body p { margin: 4rem 0; line-height: var(--lh-p1); font-size: var(--fs-p1); color: var(--text-color3); }
.opilsol-N25 .contant-body p .br { display: block; }
.opilsol-N25 .contant-body p .inline { display: inline; }
.opilsol-N25 .contant-bottom .contant-nav { display: flex; justify-content: flex-start; align-items: center; padding: 1.35rem 2.5rem; }
.opilsol-N25 .contant-bottom .contant-nav { display: flex; justify-content: flex-start; align-items: center; padding: 1.35rem 2.5rem; border-bottom: 1px solid var(--line-color1); }
.opilsol-N25 .contant-bottom .con-link-btn { position: relative; padding: 0 2rem 0 3rem; font-size: var(--fs-p1); font-family: var(--ff-po); color: var(--text-color3); text-align: center; border: 0 none; background-color: transparent; }
.opilsol-N25 .contant-bottom .con-link-btn::before { content: "\e900"; display: inline-block; position: absolute; left: -0.5rem; top: 50%; right: 2.4rem; transform: translateY(-50%); width: 2.8rem; height: 2.8rem; font-family: var(--ff-ico); font-size: var(--fs-h6); color: var(--text-color1); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); }
.opilsol-N25 .contant-bottom .con-link-btn.prve::before { transform: translateY(-50%) rotate(-180deg); -webkit-transform: translateY(-50%) rotate(-180deg); -moz-transform: translateY(-50%) rotate(-180deg); -ms-transform: translateY(-50%) rotate(-180deg); -o-transform: translateY(-50%) rotate(-180deg); }
.opilsol-N25 .contant-bottom .con-link { overflow: hidden; padding: 0 2rem; flex: 1 1 100%; line-height: var(--lh-p1); white-space: nowrap; text-overflow: ellipsis; font-size: var(--fs-p1); font-weight: 500; color: var(--text-color1); }
.opilsol-N25 .contant-bottom .con-link+span { margin-left: auto; text-align: center; font-size: var(--fs-p1); font-family: var(--ff-po); font-weight: 400; color: var(--text-color7); }
.opilsol-N25 .bottom-btn { margin-top: 8rem; text-align: center; }
@media (max-width: 1024px) {
 .opilsol-N25 .content-container { margin-bottom: 6rem; padding: 4rem 0; }
 .opilsol-N25 .container-md { padding: 0 1.6rem; }
 .opilsol-N25 .contant-header .textset-tit { font-size: var(--fs-h4); }
 .opilsol-N25 .contant-header .textset-desc { margin-top: 0.8rem; }
 .opilsol-N25 .contant-body p { margin: 2rem 0; }
 .opilsol-N25 .contant-body p .br { display: inline; }
 .opilsol-N25 .contant-body p .inline { display: block; }
 .opilsol-N25 .contant-bottom .contant-nav { padding: 1.15rem 0 1.15rem 1.6rem; }
 .opilsol-N25 .contant-bottom .con-link-btn { position: relative; padding: 0 0.8rem 0 2rem; }
 .opilsol-N25 .contant-bottom .con-link-btn::before { width: 2rem; height: 2rem; font-size: var(--fs-p2); }
 .opilsol-N25 .contant-bottom .con-link { padding: 0; }
 .opilsol-N25 .contant-bottom .con-link+span { margin-left: 2rem; }
 .opilsol-N25 .bottom-btn { margin-top: 4rem; }
}
@media (max-width: 922px) {
 .opilsol-N25 .bottom-btn .btnset-lg { padding: 0 5.4rem; max-width: 16rem; white-space: nowrap; }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.th-layout-main .opilsol-N1{
  width: 80%;
  margin: auto; /* 가운데 정렬을 위한 방법 */
}


/*.welcome_img {*/
/*    margin-top: 15%; !* 상단 여백 조절 *!*/
/*}*/

.welcome_img img {
    width: 100%; /* 이미지 가로 폭 100%로 조절 */
    height: 65%; /* 이미지 비율 유지 */
}

.welcome_img .col-md-7 {
    font-weight: bold;
    font-size: 1.5rem;
    /*{#margin-top: 20px; !* 상단 여백 조절 *!#}*/
}


@media (min-width: 1200px) {
  .welcome_img .col-md-7{
      font-weight: bold;
      font-size: 1.5rem;
      padding-left: 10%;
  }
  .welcome_img img {
     width: 100%; /* 이미지 가로 폭 100%로 조절 */
     height: 76%; /* 이미지 비율 유지 */
 }
}

@media (min-width: 1900px) {
    .welcome_img .col-md-7{
      font-weight: bold;
      font-size: 1.5rem;
      padding-left: 10%;
  }
   .welcome_img img {
     width: 100%; /* 이미지 가로 폭 100%로 조절 */
     height: 76%; /* 이미지 비율 유지 */
 }
}

@media (min-width: 2400px) {
    .welcome_img .col-md-7{
      font-weight: bold;
      font-size: 1.5rem;
      padding-left: 10%;
  }
   .welcome_img img {
    width: 100%;
    height: 76%;
    padding-left: 20%;
 }
}

.welcome_img p {
    margin-bottom: 10px; /* 문단 간격 조절 */
}

@media (max-width: 768px) {
  .welcome_img .img-fluid{
    width: 100%; /* 이미지 가로 폭 100%로 조절 */
    height: 300px; /* 이미지 비율 유지 */
  }
}
 .red-underlined {
     text-decoration-color:red;
    text-decoration-line:underline;
 }

 .welcome_text {
   color: black;
 }