{% extends 'base.html' %}
{% load bs_filter %}
{% load static %}
{% block content %}
<header class="sub_masthead" style="background-image: url({% static 'images/eucation.png' %})">
{#    <div class="container">#}
{#        <div class="masthead-heading text-uppercase" style="color: black">Bs-Stock</div>#}
{#    </div>#}
</header>
<section class="page-section" id="education">
    <div class="opilsol-N14" data-bid="gxlQXAXQV1" id="">
      <div class="content-container">
        <div class="col-group container-md">
          <div class="left" style="text-align: center">
{#              <h4 class="history-tit" style="margin-bottom: -1rem">A class 스윙</h4>#}
              <span style="font-size: 4.5rem;font-weight: 700;font-family: emoji;">A Class  <span style="color:red;"> 스윙</span></span>
              <br><br>
              <span style="font-size: 2rem;font-weight: bold;font-family: system-ui;">( 1 종목 <span style="color:red;"> 10 ~ 30% </span>수익 )</span>
{#              <h4>( 1 종목 10 ~ 30% 수익 )</h4>#}
          </div>
          <div class="right">
            <ul class="history-list">
              <li class="active">
{#                <p class="year">(1 종목 10~30% 수익)</p>#}
                <ul class="inner-list" style="margin-left:-5%">
                  <li>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">HTS 설정 , 캔들 ,기본기 설명</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">주식 차트 파동 강의</span>
                    </p>
                    <p>
                      <span class="date" contenteditable="true">-</span>
                      <span>주식 뉴스  , 세계적 뉴스 대응&nbsp;</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">거래량, 거래대금 설명</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">테마종목&nbsp;&nbsp;or&nbsp;&nbsp;매수해야하는 종목 선택 방법</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">실전 파동, 눌림목, 신고가, 매수 매도 목표 종목 설정 (90% 승률)</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">매년 15% ~ 100% 수익내기 , 3년 5년 10년 프로젝트</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">손절 방법 스탑로스 세팅</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">주식 성공 or 실패 설명마인드 강의</span>
                    </p>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="opilsol-N14" data-bid="gxlQXAXQV1" id="">
      <div class="content-container">
        <div class="col-group container-md">
          <div class="left" style="text-align: center">
              <span style="font-size: 4.5rem;font-weight: 700;font-family: emoji;">B Class <span style="color:red;"> 단타</span></span>
              <br><br>
              <span style="font-size: 2rem;font-weight: bold;font-family: system-ui;">( 1 종목 <span style="color:red;"> 1 ~ 10% </span>수익 )</span>
          </div>
          <div class="right">
            <ul class="history-list">
              <li class="active">
{#                <p class="year">(1 종목 10~30% 수익)</p>#}
                <ul class="inner-list" style="margin-left:-5%">
                  <li class="p-tag">
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">금일 단타 종목 찾기</span>
                    </p>
                    <p class="pc_view">
                      <span class="date">-</span>
                      <span th-hoverbox="true">1차:&nbsp;&nbsp;9시~9:10 ,&nbsp;&nbsp;2차: &nbsp;&nbsp;9:15~30분 , &nbsp;3차: &nbsp;&nbsp;오후 매매,&nbsp;&nbsp;강의</span>
                    </p>
                    <p class="mb_view">
                      <span class="date">-</span>
                      <span th-hoverbox="true">1차:&nbsp;&nbsp;9시~9:10<br>2차: &nbsp;9:15~30분<br>3차: &nbsp;오후 매매,&nbsp;&nbsp;강의</span>
                    </p>
                    <p>
                      <span class="date" contenteditable="true">-</span>
                      <span>매수 매도 호가창</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">상한가 종목 단타</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">시가 회복 종목 강의</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">뉴스 선정 방법</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">급등주 테마주 종목 선정법 </span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">장중 주도주 , 거래량 , 거래대금 종목 선정방법</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">쳐다보지 말아야할 종목 구별법</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">다음날 종목 후보 선정법</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">신고가 종목 돌파매매</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">단일가 종목 매수 매도</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">손절 방법 ,  스탑로스 세팅</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">주식 성공 or 실패 설명 마인드 강의</span>
                    </p>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </section>
{% endblock %}