{% extends 'base.html' %}
{% load bs_filter %}
{% load static %}
{% block content %} <!-

  <main class="th-layout-main ">
    <!-- [S]opilsol-N9 -->
    <div class="opilsol-N9" data-bid="WqLqxAXqpH">
      <div class="visual-container">
        <img class="visual-bg pc-img" src="{% static 'images/about-visual.jpg' %}" alt="서브 비주얼 이미지">
        <img class="visual-bg mobile-img" src="{% static 'images/about-m-visual.jpg' %}" alt="서브 비주얼 이미지">
        <div class="visual-txt-box container-md">
          <h2 class="visual-title"> Bs-Stock </h2>
          <p class="visual-description">지속 가능한 비즈니스를 통해 사회적 가치를 실현하는 템플릿솔루션입니다</p>
        </div>
      </div>
    </div>
    <div class="opilsol-N34" data-bid="cKlqxAXQu4" id="">
      <div class="content-container container-md">
        <div class="textset content-tit">
          <p class="textset-eu">AboutUs</p>
          <h2 class="textset-tit">교육 목차​​<br></h2>
        </div>
      </div>
    </div>
    <!-- [E]opilsol-N34 -->
    <!-- [S]opilsol-N14 -->
    <div class="opilsol-N14" data-bid="gxlQXAXQV1" id="">
      <div class="content-container">
        <div class="col-group container-md">
          <div class="left" style="text-align: center">
{#            <h3 class="history-tit">A class 스윙​​<br>​<br></h3>#}
              <h3 class="history-tit" style="margin-bottom: -3rem">A class 스윙​​</h3>
              <br>​<br>
              <h3>(1 종목 10~30% 수익)</h3>
          </div>
          <div class="right">
            <ul class="history-list">
              <li class="active">
{#                <p class="year">(1 종목 10~30% 수익)</p>#}
                <ul class="inner-list">
                  <li>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">HTS 설정 , 캔들 ,기본기 설명</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">주식 차트 파동 강의</span>
                    </p>
                    <p>
                      <span class="date" contenteditable="true">-</span>
                      <span>주식 뉴스,세계관,테마&nbsp;</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">거래량,거래대금 설명</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">종목 선택 방법</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">실전 파동,눌림목, 신고가, 매수 매도 목표 종목 설정 (90% 승률)</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">매년 15% ~ 100% 수익내기 , 3년 5년 10년 프로젝트</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">손절 방법 스탑로스</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">주식 성공 or 실패 설명마인드 강의</span>
                    </p>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
      <div class="opilsol-N14" data-bid="gxlQXAXQV1" id="">
      <div class="content-container">
        <div class="col-group container-md">
          <div class="left" style="text-align: center">
{#            <h3 class="history-tit">A class 스윙​​<br>​<br></h3>#}
              <h3 class="history-tit" style="margin-bottom: -3rem">B class 단타​​</h3>
              <br>​<br>
              <h3>(1~15% 수익)</h3>
          </div>
          <div class="right">
            <ul class="history-list">
              <li class="active">
{#                <p class="year">(1 종목 10~30% 수익)</p>#}
                <ul class="inner-list">
                  <li>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">금일 단타 종목 찾기</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">1분-15분 봉 눌림목 단타 기술  1차 오전 9시~9:10분매매 2차 15~30분 매매, 3차 오후매매</span>
                    </p>
                    <p>
                      <span class="date" contenteditable="true">-</span>
                      <span>매수 매도 호가창</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">상한가 종목 단타</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">시가 회복 종목</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">뉴스 선정 방법</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">매년 15% ~ 100% 수익내기 , 3년 5년 10년 프로젝트</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">급등주 테마주 종목 선정법 </span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">장중 주도주 ,거래량,거래대금 종목 선정방법</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">쳐다보지 말아야할 종목 구별법</span>
                    </p>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}