{% extends 'base.html' %}
{% load bs_filter %}
{% load static %}
{% block content %}
<header class="sub_masthead" style="background-image: url({% static 'images/eucation.png' %})">
{#    <div class="container">#}
{#        <div class="masthead-heading text-uppercase" style="color: black">Bs-Stock</div>#}
{#    </div>#}
</header>
<section class="page-section" id="education">
    <div class="opilsol-N14" data-bid="gxlQXAXQV1" id="">
      <div class="content-container">
        <div class="col-group container-md">
          <div class="left" style="text-align: center">
{#              <h4 class="history-tit" style="margin-bottom: -1rem">A class 스윙</h4>#}
              <span style="font-size: 4.5rem;font-weight: 700;font-family: emoji;">A Class  <span style="color:red;"> 스윙</span></span>
              <br><br>
              <span style="font-size: 2rem;font-weight: bold;font-family: system-ui;">( 1 종목 <span style="color:red;"> 10 ~ 30% </span>수익 )</span>
{#              <h4>( 1 종목 10 ~ 30% 수익 )</h4>#}
          </div>
          <div class="right">
            <ul class="history-list">
              <li class="active">
{#                <p class="year">(1 종목 10~30% 수익)</p>#}
                <ul class="inner-list" style="margin-left:-5%">
                  <li>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">HTS 설정 , 캔들 ,기본기 설명</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">주식 차트 파동 강의</span>
                    </p>
                    <p>
                      <span class="date" contenteditable="true">-</span>
                      <span>주식 뉴스  , 세계적 뉴스 대응&nbsp;</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">거래량, 거래대금 설명</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">테마종목&nbsp;&nbsp;or&nbsp;&nbsp;매수해야하는 종목 선택 방법</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">실전 파동, 눌림목, 신고가, 매수 매도 목표 종목 설정 (90% 승률)</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">매년 15% ~ 100% 수익내기 , 3년 5년 10년 프로젝트</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">손절 방법 스탑로스 세팅</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">주식 성공 or 실패 설명마인드 강의</span>
                    </p>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="opilsol-N14" data-bid="gxlQXAXQV1" id="">
      <div class="content-container">
        <div class="col-group container-md">
          <div class="left" style="text-align: center">
              <span style="font-size: 4.5rem;font-weight: 700;font-family: emoji;">B Class <span style="color:red;"> 단타</span></span>
              <br><br>
              <span style="font-size: 2rem;font-weight: bold;font-family: system-ui;">( 1 종목 <span style="color:red;"> 1 ~ 10% </span>수익 )</span>
          </div>
          <div class="right">
            <ul class="history-list">
              <li class="active">
{#                <p class="year">(1 종목 10~30% 수익)</p>#}
                <ul class="inner-list" style="margin-left:-5%">
                  <li class="p-tag">
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">금일 단타 종목 찾기</span>
                    </p>
                    <p class="pc_view">
                      <span class="date">-</span>
                      <span th-hoverbox="true">1차:&nbsp;&nbsp;9시~9:10 ,&nbsp;&nbsp;2차: &nbsp;&nbsp;9:15~30분 , &nbsp;3차: &nbsp;&nbsp;오후 매매,&nbsp;&nbsp;강의</span>
                    </p>
                    <p class="mb_view">
                      <span class="date">-</span>
                      <span th-hoverbox="true">1차:&nbsp;&nbsp;9시~9:10<br>2차: &nbsp;9:15~30분<br>3차: &nbsp;오후 매매,&nbsp;&nbsp;강의</span>
                    </p>
                    <p>
                      <span class="date" contenteditable="true">-</span>
                      <span>매수 매도 호가창</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">상한가 종목 단타</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">시가 회복 종목 강의</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">뉴스 선정 방법</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">급등주 테마주 종목 선정법 </span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">장중 주도주 , 거래량 , 거래대금 종목 선정방법</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">쳐다보지 말아야할 종목 구별법</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">다음날 종목 후보 선정법</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">신고가 종목 돌파매매</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">단일가 종목 매수 매도</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">손절 방법 ,  스탑로스 세팅</span>
                    </p>
                    <p>
                      <span class="date">-</span>
                      <span th-hoverbox="true">주식 성공 or 실패 설명 마인드 강의</span>
                    </p>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="opilsol-N14 pc_view" data-bid="gxlQXAXQV1" id="">
      <div class="content-container">
        <div class="col-group container-md">
          <div class="left" style="text-align: center">
            <div style="display: flex;">
              <div style="width: 50%;"></div>
              <div style="width: 50%;"></div>
              <div style="width: 50%;">
                <img class="img-fluid main_click" src="{% static 'images/sub/click.png' %}" alt="...">
              </div>
              <div style="width: 50%;"></div>
            </div>
            <div class="left" style="text-align: right; padding-top:2rem;">
              <img class="img-fluid-75" src="/static/images/service_1.png" onclick="OnloadImg(this.src)" alt="...">
              <img class="img-fluid-75" src="/static/images/service_2.png" onclick="OnloadImg(this.src)" alt="...">
              <img class="img-fluid-75" src="/static/images/service_3.png" onclick="OnloadImg(this.src)" alt="...">
            </div>
          </div>
          <div class="right">
            <div style="height: 75px;">
            </div>
            <ul class="history-list">
              <li class="active" style="border-left: 0px solid white;">
                <ul class="inner-list" style="margin-left:-5%">
                  <li class="p-tag">
                    <div class="col-md-12">
                      <p style="color: red">
                        <span class="date"></span>
                        <span style="color: red">Buy : 매수</span>
                      </p>
                      <p style="color: blue">
                        <span class="date"></span>
                        <span style="color: blue">Sell : 매도</span>
                      </p>
                      <br>
                      <p>
                        <span class="date"></span>
                        <span> 단타 ex) : <span class="red-underlined">&nbsp;1000만원&nbsp;</span> <span style="color: red">1%</span>로는 <span class="red-underlined">&nbsp;10만원</span></span>
                      </p><br>
                      <p>
                        <span class="date"></span>
                        <span th-hoverbox="true">1천만원으로 매일 <span style="color: red">3%</span></span>
                      </p>
                      <p>
                        <span class="date"></span>
                        <span th-hoverbox="true">1 일 수익 <span class="red-underlined">30만원</span></span>
                      </p>
                      <p>
                        <span class="date"></span>
                        <span th-hoverbox="true">5 일 수익 <span class="red-underlined">150만원</span></span>
                      </p>
                      <p>
                        <span class="date"></span>
                        <span th-hoverbox="true">1 달 수익 <span class="red-underlined">600만원</span></span>
                      </p>
                      <p>
                        <span class="date"></span>
                        <span th-hoverbox="true">1 년 수익 <span class="red-underlined">7200만원</span> 입니다.</span>
                      </p><br>
                      <p>
                        <span class="date"></span>
                        <span th-hoverbox="true">이렇게 복리 효과로 생각하면서 주식 하시는분들은 거의 없습니다.</span>
                      </p>
                      <p>
                        <span class="date"></span>
                        <span th-hoverbox="true">9시부터 15:20분 까지 내가 참여 할수있는 시간에</span>
                      </p>
                      <p>
                        <span class="date"></span>
                        <span th-hoverbox="true">1~3 종목 언제든 종목을 기다렸다가 매매하시면 됩니다.</span>
                      </p>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </section>
    <script>
      function OnloadImg(url) {
        var img = new Image();
        img.src = url;
        var img_width = img.width;
        var win_width = img.width + 25;
        var height = img.height + 30;
      
        var OpenWindow = window.open('', '_blank', 'width=' + win_width + ', height=' + height + ', menubars=no, scrollbars=auto');
      
        OpenWindow.document.write("<style>body{margin:0px; cursor:pointer;}</style><img src='" + url + "' width='" + win_width + "'>");
      
        // 이미지 클릭 이벤트 추가하여 팝업 창 닫기
        OpenWindow.document.getElementsByTagName('img')[0].onclick = function() {
          OpenWindow.close();
        };
      }
    </script>
{% endblock %}