{% extends 'base.html' %}
{% load bs_filter %}
{% load static %}
{% block content %}
<header class="offline_masthead">
    <div class="container">
        <div class="masthead-heading text-uppercase" style="color: black">공지사항</div>
    </div>
</header>
<div class="opilsol-N71" id="welcome">
  <div class="content-container" style="padding: 0rem 0;">
    <div class="container-md">
        <div class="row notice" style="text-align: center;">
            <div class="col-md-12">
                <p class="contents-notice-desc pc_view">
                    BS-stock 은 한국인재금융개발원 자격증을 취득하였고<br>
                    오직 강의를 위해 오픈을 하였습니다.<br>
                    <span style="color: red">주식 종목 리딩 , 투자권유 일제히 하지 않습니다.</span>
                </p>
                <p class="contents-notice-desc mb_view">
                    BS-stock 은<br>한국인재금융개발원<br>자격증을 취득하였고<br>
                    오직 강의를 위해<br>오픈을 하였습니다.<br>
                    <span style="color: red">주식 종목 리딩 ,<br>투자권유<br>일제히 하지 않습니다.</span>
                </p>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}
