{% extends 'base.html' %}
{% load bs_filter %}
{% load static %}
{% block content %}
<div class="opilsol-N11" data-bid="iglQYHtv6i" id="welcome">
  <div class="content-container" style= "padding: 2rem 0;">
    <div class="container-md">
<section class="esg_box">
    <p class="f20">SUSTAINABILITY</p>
            <h1 class="big_ttl">YG ESG</h1>
        <div class="container">
            <div class="txt_box">
                <h2 class="xs_ttl">문화의 다양성을 존중하는</h2>
                <span class="f44">YG STYLE</span>
                <p class="f17">
                    YG Entertainment는 문화의 다양성을 존중하는 'YG STYLE'을 기반으로 국내 ENTERTAINMENT 업계 ​리더를 넘어 글로벌 NO.1 MUSIC &amp; ENTERTAINMENT COMPANY로 성장하고자 하며, 이러한 성장의 과정​ 속에서 ESG 가치를 실현해 나갈 계획입니다. ​
                    <br><br>
                    특히, 핵심 비즈니스 모델인 음악과 다양한 미디어 콘텐츠를 포함한 모든 경영활동에서 효과적인 ESG​ 경영을 실천하기 위한 체계를 구축하여 사회와 환경의 지속가능성에 기여할 수 있도록 최선의 노력을 ​다하겠습니다.
                </p>
            </div>
        </div>
        <div class="right_img">
            <img src="{% static 'images/offline.jpeg' %}">
        </div>
    </section>
    </div>
    </div>
</div>
{% endblock %}

<style>


.esg_box {
    position: relative;
    margin: 78px 0 120px;
    min-height: 601px;
}
</style>