{% extends 'base.html' %}
{% load bs_filter %}
{% load static %}
{% block content %}
<header class="sub_masthead" style="background-image: url({% static 'images/waytocome.jpeg' %})">
{#    <div class="container">#}
{#        <div class="masthead-heading text-uppercase" style="color: black">Bs-Stock</div>#}
{#    </div>#}
</header>
    <div class="opilsol-N11" data-bid="iglQYHtv6i">
      <div class="content-container">
        <div class="container-md">
          <div class="content-group" style="margin: 5%;">
            <figure class="img-box">
              <img src="{% static 'images/come.png' %}" alt="이미지">
            </figure>
            <div class="txt-box">
                <div class="hooms-N35" data-bid="UXLqYJY486" id="">
                  <ul class="contents-traffic-list" style="list-style-type:none; border-top: gray solid 1px; border-bottom: gray solid 1px">
                    <li class="contents-traffic-item">
                          <div class="contents-ico">
                            <figure class="contents-figure">
                              <img src="{% static 'icons/ico_location_black.svg' %}" alt="아이콘이미지">
                            </figure> Address
                          </div>
                          <p class="contents-desc"> 에이스 스마트윙 영통지식산업센터 <br> 경기 수원시 영통구 원천동 246</p> <br>
                        </li>
                        <li class="contents-info-item">
                          <div class="contents-ico">
                            <figure class="contents-figure">
                              <img src="{% static 'icons/ico_mail_black.svg' %}" alt="아이콘이미지">
                            </figure> Email
                          </div>
                          <p class="contents-desc"> help@openfield.co.kr </p><br>
                        </li>
                        <li class="contents-info-item">
                          <div class="contents-ico">
                            <figure class="contents-figure">
                              <img src="{% static 'icons/ico_tel_black.svg' %}" alt="아이콘이미지">
                            </figure> Tel
                          </div>
                          <p class="contents-desc"> 010. 7903. 5254</p>
                        </li>
                    </ul>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}