{% extends 'base.html' %}
{% load bs_filter %}
{% load static %}
{% block content %}
<header class="way_to_come_masthead">
    <div class="container">
        <div class="masthead-heading text-uppercase" style="color: black">오시는 길</div>
    </div>
</header>
    <div class="opilsol-N71" id="welcome">
      <div class="content-container" style="padding: 0rem 0;">
        <div class="container-md">
          <div class="content-group">
            <figure class="img-box">
              <img src="{% static 'images/way_to_come.jpeg' %}" alt="이미지">
            </figure>
            <div class="txt-box">
                <div class="hooms-N35" data-bid="UXLqYJY486" id="">
                  <ul class="contents-traffic-list" style="list-style-type:none; border-top: gray solid 1px; border-bottom: gray solid 1px">
                    <li class="contents-traffic-item">
                          <div class="contents-ico">
                            <figure class="contents-figure">
                              <img src="{% static 'icons/ico_location_black.svg' %}" alt="아이콘이미지">
                            </figure> Address
                          </div>
                          <p class="contents-desc"> 에이스 스마트윙 영통지식산업센터 <br> 경기 수원시 영통구 원천동 246 525호</p> <br>
                        </li>
                        <li class="contents-info-item">
                          <div class="contents-ico">
                            <figure class="contents-figure">
                              <img src="{% static 'icons/ico_tel_black.svg' %}" alt="아이콘이미지">
                            </figure> Tel
                          </div>
                          <p class="contents-desc"> 010 - 7903 - 5254</p>
                        </li>
                        <li class="contents-info-item">
                          <div class="contents-ico">
                            <figure class="contents-figure">
                              <img src="{% static 'icons/ico_mail_black.svg' %}" alt="아이콘이미지">
                            </figure> Kakao & Email
                          </div>
                          <p class="contents-desc"> Kakao id : BS-Stock </p>
                          <p class="contents-desc"> Bs-Stock@naver.com </p>
                        </li>
                        <li class="contents-info-item">
                          <p class="contents-desc"> BS-Stock 은 예약 문의를 받고있습니다.  <br>
                              카카오톡, 전화 , 문자 , 메일로 연락주시면 예약 도와드리겠습니다.  </p><br>
                        </li>
                    </ul>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}