{% extends 'base.html' %}
{% load bs_filter %}
{% load static %}
{% block content %}
  <!-- [E]opilsol-N1 -->
  <main class="th-layout-main ">
    <!-- [S]opilsol-N9 -->
    <div class="opilsol-N9" data-bid="eSlqyGtEYO">
      <div class="visual-container">
        <img class="visual-bg pc-img" src="{% static 'images/about-visual.jpg' %}" alt="서브 비주얼 이미지">
        <img class="visual-bg mobile-img" src="{% static 'images/about-m-visual.jpg' %}" alt="서브 비주얼 이미지">
        <div class="visual-txt-box container-md">
          <h2 class="visual-title"> Bs-Stock </h2>
          <p class="visual-description">지속 가능한 비즈니스를 통해 사회적 가치를 실현하는 템플릿솔루션입니다</p>
        </div>
      </div>
    </div>
    <div class="opilsol-N34" data-bid="YHlqYgTf0X" id="">
      <div class="content-container container-md">
        <div class="textset content-tit">
          <h2 class="textset-tit">오시는​ 길</h2>
        </div>
      </div>
    </div>
    <div class="opilsol-N11" data-bid="iglQYHtv6i">
      <div class="content-container">
        <div class="container-md">
          <div class="content-group">
            <figure class="img-box">
              <img src="{% static 'images/way_to_come.png' %}" alt="이미지">
            </figure>
            <div class="txt-box">
                <div class="hooms-N35" data-bid="UXLqYJY486" id="">
                  <ul class="contents-traffic-list">
                    <li class="contents-traffic-item">
                          <div class="contents-ico">
                            <figure class="contents-figure">
                              <img src="{% static 'icons/ico_location_black.svg' %}" alt="아이콘이미지">
                            </figure> Address
                          </div>
                          <p class="contents-desc"> 에이스 스마트윙 영통지식산업센터 <br> 경기 수원시 영통구 원천동 246</p> <br>
                        </li>
                        <li class="contents-info-item">
                          <div class="contents-ico">
                            <figure class="contents-figure">
                              <img src="{% static 'icons/ico_mail_black.svg' %}" alt="아이콘이미지">
                            </figure> Email
                          </div>
                          <p class="contents-desc"> help@openfield.co.kr </p><br>
                        </li>
                        <li class="contents-info-item">
                          <div class="contents-ico">
                            <figure class="contents-figure">
                              <img src="{% static 'icons/ico_tel_black.svg' %}" alt="아이콘이미지">
                            </figure> Tel
                          </div>
                          <p class="contents-desc"> 070. 8872. 8874 </p>
                        </li>
                    </ul>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]opilsol-N11 -->
    <!-- [S]opilsol-N11 -->
    <div class="opilsol-N11" data-bid="ODLqYHs9Du" id="">
    </div>
    <!-- [E]opilsol-N11 -->
  </main>
{% endblock %}