{% extends 'base.html' %}
{% load bs_filter %}
{% load static %}
{% block content %}
<header class="offline_masthead">
    <div class="container">
        <div class="masthead-heading text-uppercase" style="color: black">INTRODUCTION</div>
    </div>
</header>
<div class="opilsol-N71" id="welcome">
  <div class="content-container">
    <div class="container-md">
        <div class="row welcome_img">
            <div class="col-md-7">
                <img class="img-fluid" src="{% static 'images/welcome.jpeg' %}"  alt="...">
            </div>
            <div class="col-md-5" style="padding: 5%">
                <br>
                <p class="sub_title">안녕하세요</p>
                <p class="sub_title"> <span style='font-weight: 800;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: black;'>BS-Stock</span> 대표 입니다</p>
                <br>
                <p class="contents-desc"> 주식 경력 10년차 주식 자격증 및 키움증권 투자 수익률 이달 상위 5% 로 <br>
                    실전투자 경험 바탕으로 돈과 시간의 자유를 얻을수 있는 높은 확률로 도움을 드리고자 사이트 및 사무실 오픈을 하게 되었습니다 . <br><br>
                주식 1:1 오프라인 교육은 특별한데요.
                현재 주식 강의는 보통 인터넷 사이트 및 유튜브 및 책으로 수강을 많이하시는데요.
                거기에서도 물론 만족하시는 분 및 불만족 하시는 분 많이 있으실거라 생각합니다.<br><br>
                온라인 수강신청과 책 등  공부를 해도 손실 및 이해 부족과 만족 하지 못하신분들을
                실전에 직접 적용하는 실전기법 , 주식에 필요한 다양한 마인드
                현재 최초 1:1 오프라인 주식 교육으로 성공투자 길로 도와드리겠습니다 .
                감사합니다.<br>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}