{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="title" content="웹사이트">
  <meta name="description" content="웹사이트입니다.">
  <meta name="keywords" content="키워드,키워드,키워드">
  <meta property="og:title" content="웹사이트">
  <meta property="og:description" content="웹사이트입니다">
  <meta property="og:image" content="https://웹사이트/images/opengraph.png' %}">
  <meta property="og:url" content="https://웹사이트">
  <title>CEO인사말 | J</title>
  <link rel="stylesheet" href="{% static 'css/setting.css' %}">
  <link rel="stylesheet" href="{% static 'css/plugin.css' %}">
  <link rel="stylesheet" href="{% static 'css/template.css' %}">
  <link rel="stylesheet" href="{% static 'css/common.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <!-- [S]opilsol-N1 -->
  <header class="opilsol-N1" data-bid="KnlqW2318l">
    <div class="header-container container-lg">
      <div class="header-left">
        <h1 class="header-title">
          <a href="javascript:void(0)">
            <img src="{% static 'images/img_logo_white.png' %}" alt="로고">
          </a>
        </h1>
      </div>
      <div class="header-center">
        <ul class="header-member">
          <li>
            <a href="javascript:void(0)">로그인</a>
          </li>
          <li>
            <a href="javascript:void(0)">회원가입</a>
          </li>
        </ul>
        <ul class="header-gnblist">
          <li class="header-gnbitem">
            <a class="header-gnblink" href="javascript:void(0)">
              <span>회사소개</span>
            </a>
            <ul class="header-sublist">
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>회사개요</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>CEO인사말</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>연혁</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>오시는길</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="header-gnbitem">
            <a class="header-gnblink" href="javascript:void(0)">
              <span>사업소개</span>
            </a>
            <ul class="header-sublist">
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>스포츠센터</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>공공문화체육시설</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>아파트 커뮤니티</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>모바일</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="header-gnbitem">
            <a class="header-gnblink" href="javascript:void(0)">
              <span>제품소개</span>
            </a>
            <ul class="header-sublist">
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>스포츠센터</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>공공 문화체육시설</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>아파트 커뮤니티</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>모바일</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="header-gnbitem">
            <a class="header-gnblink" href="javascript:void(0)">
              <span>인재채용</span>
            </a>
            <ul class="header-sublist">
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>인사제도</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>복리후생</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="header-gnbitem">
            <a class="header-gnblink" href="javascript:void(0)">
              <span>고객센터</span>
            </a>
            <ul class="header-sublist">
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>공지사항</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>문의하기</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="header-right">
        <div class="header-utils">
          <button class="btn-search">
            <img src="{% static 'icons/ico_search_white.svg' %}" alt="검색">
          </button>
          <button class="btn-user">
            <img src="{% static 'icons/ico_user_white.svg' %}" alt="마이페이지">
          </button>
          <button class="btn-allmenu">
            <img src="{% static 'icons/ico_menu3_white.svg' %}" alt="PC메뉴">
          </button>
          <button class="btn-momenu">
            <img src="{% static 'icons/ico_menu3_white.svg' %}" alt="모바일메뉴">
          </button>
          <button class="btn-moclose">
            <img src="{% static 'icons/ico_close_black.svg' %}" alt="닫기">
          </button>
        </div>
      </div>
    </div>
    <div class="header-fullmenu fullmenu-top">
      <div class="fullmenu-wrapper">
        <div class="fullmenu-head">
          <h4 class="fullmenu-title">
            <a href="javascript:void(0)">
              <img src="{% static 'images/img_logo_black.png' %}" alt="로고">
            </a>
          </h4>
          <ul class="fullmenu-member">
            <li>
              <a href="javascript:void(0)">로그인</a>
            </li>
            <li>
              <a href="javascript:void(0)">회원가입</a>
            </li>
          </ul>
        </div>
        <ul class="fullmenu-gnblist">
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="javascript:void(0)">
              <span>회사소개</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>회사개요</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>CEO인사말</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>연혁</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>오시는 길</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="javascript:void(0)">
              <span>사업소개</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>스포츠센터</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>공공 문화체육시설</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>아파트 커뮤니티</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>모바일</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="javascript:void(0)">
              <span>제품소개</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>스포츠센터</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>공공 문화체육시설</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>아파트 커뮤니티</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>모바일</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="javascript:void(0)">
              <span>인재채용</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>인사제도</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>복리후생</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="javascript:void(0)">
              <span>고객센터</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>공지사항</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>문의하기</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <button class="fullmenu-close">
        <img src="{% static 'icons/ico_close_black.svg' %}" alt="닫기">
      </button>
    </div>
    <div class="header-search fullmenu-top">
      <div class="fullmenu-wrapper">
        <div class="fullmenu-head">
          <h4 class="fullmenu-title">
            <a href="javascript:void(0)">
              <img src="{% static 'images/img_logo_black.png' %}" alt="로고">
            </a>
          </h4>
        </div>
        <div class="header-search-wrap">
          <div class="container-md">
            <div class="header-search-form">
              <div class="inputset inputset-line">
                <button class="icon-right icon-search btn" type="button" aria-label="아이콘">
                </button>
                <input type="text" class="inputset-input form-control" placeholder="검색어를 입력해주세요." aria-label="내용">
              </div>
            </div>
            <div class="recom-list">
              <h5 class="recom-tit">추천 검색어</h5>
              <ul>
                <li>
                  <a href="#n">솔루션</a>
                </li>
                <li class="on">
                  <a href="#n">아파트 커뮤니티</a>
                </li>
                <li>
                  <a href="#n">플랫폼</a>
                </li>
                <li>
                  <a href="#n">스포츠센터</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <button class="fullmenu-close">
        <img src="{% static 'icons/ico_close_black.svg' %}" alt="닫기">
      </button>
    </div>
  </header>
  <!-- [E]opilsol-N1 -->
  <main class="th-layout-main ">
    <!-- [S]opilsol-N9 -->
    <div class="opilsol-N9" data-bid="AJLQw231dd">
      <div class="visual-container">
        <img class="visual-bg pc-img" src="{% static 'images/about-visual.jpg' %}" alt="서브 비주얼 이미지">
{#        <img class="visual-bg mobile-img" src="{% static 'images/about-m-visual.jpg' %}" alt="서브 비주얼 이미지">#}
        <div class="visual-txt-box container-md">
          <h2 class="visual-title"> 회사소개 </h2>
          <p class="visual-description">지속 가능한 비즈니스를 통해 사회적 가치를 실현하는 템플릿솔루션입니다</p>
        </div>
      </div>
    </div>
    <!-- [E]opilsol-N9 -->
    <!-- [S]opilsol-N33 -->
    <div class="opilsol-N33" data-bid="iOlqW231eI">
      <div class="content-container sub-menu">
        <div class="container-md d-flex">
          <div class="dropset dropset-solid">
            <div class="dropset-head"></div>
          </div>
          <div class="dropset dropset-solid">
            <button class="dropset-toggle btn" type="button">
              <span>회사소개</span>
            </button>
            <ul class="dropset-list">
              <li class="dropset-item">
                <a class="dropset-link btn" href="javascript:void(0)">
                  <span>템플릿1</span>
                </a>
              </li>
              <li class="dropset-item">
                <a class="dropset-link btn" href="javascript:void(0)">
                  <span>템플릿2</span>
                </a>
              </li>
              <li class="dropset-item">
                <a class="dropset-link btn" href="javascript:void(0)">
                  <span>템플릿3</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="dropset dropset-solid">
            <button class="dropset-toggle btn" type="button">
              <span>회사개요</span>
            </button>
            <ul class="dropset-list">
              <li class="dropset-item">
                <a class="dropset-link btn" href="javascript:void(0)">
                  <span>템플릿1</span>
                </a>
              </li>
              <li class="dropset-item">
                <a class="dropset-link btn" href="javascript:void(0)">
                  <span>템플릿2</span>
                </a>
              </li>
              <li class="dropset-item">
                <a class="dropset-link btn" href="javascript:void(0)">
                  <span>템플릿3</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]opilsol-N33 -->
    <!-- [S]opilsol-N34 -->
    <div class="opilsol-N34" data-bid="KTlQW231FG">
      <div class="content-container container-md">
        <div class="textset content-tit">
          <p class="textset-eu">AboutUs</p>
          <h2 class="textset-tit">회사개요</h2>
        </div>
      </div>
    </div>
    <!-- [E]opilsol-N34 -->
    <!-- [S]opilsol-N13 -->
    <div class="opilsol-N13" data-bid="udlqW231H6" id="">
      <div class="content-container">
        <div class="content-group container-md">
          <div class="img-box">
            <div class="txt-box">
              <div class="textset">
                <h2 class="textset-tit">
                  <span class="br">안녕하세요</span>
                  <span class="br">우리는 혁신적인 솔루션과 탁월한 서비스를 통해</span> 고객들에게 최고의 경험을 제공하고자 합니다.
                </h2>
                <div class="textset-desc">
                  <p> '미래를 지향하는 젊은 기업'이라는 슬로건을 앞세우고 임직원 모두가 변화와 혁신에 매진하고 있으며 기업 윤리 및 사회적 책임을 다해서 주주 및 고객, 지역사회를 포함한 모든 이해관계자들의 성원에 보답하는데 최선을 다하겠습니다. </p>
                  <p> 저희 회사는 첨단 정보화 시대를 맞이하여 고객의 다양한 요구에 신속히 대응하고, 최고의 서비스로 귀사의 사업을 성공으로 인도하는 전략적인 파트너가 되고자하는 확실한 신념을 가지고 있습니다. </p>
                  <p> 앞으로도 저희 솔루션이 '고객으로부터 신뢰받고 사랑받는 기업', '비즈니스 파트너와 상생하는 기업' 그리고 '기업의 사회적 책임을 다하는 기업'으로 성장할 수 있도록 고객 여러분의 끊임없는 격려와 성원을 부탁드립니다. </p>
                  <p class="bottom-txt">
                    <b>대표이사 홍길동</b>
                  </p>
                </div>
              </div>
            </div><img class="pc-img" src="{% static 'images/message-img-1.jpg' %}" alt="이미지">
            <img class="mobile-img" src="{% static 'images/message-img-1.jpg' %}" alt="이미지">
          </div>
        </div>
      </div>
    </div>
    <!-- [E]opilsol-N13 -->
  </main>
  <!-- [S]opilsol-N3 -->
  <footer class="opilsol-N3" data-bid="AvlQW231I4">
    <div class="pc-footer">
      <div class="footer-wrapper">
        <div class="footer-container">
          <ul class="footer-menulist">
            <li class="footer-menuitem">
              <a href="javascript:void(0)">
                <span>이용약관</span>
              </a>
            </li>
            <li class="footer-menuitem">
              <a href="javascript:void(0)">
                <span>개인정보처리방침</span>
              </a>
            </li>
            <li class="footer-menuitem">
              <a href="javascript:void(0)">
                <span>푸터메뉴1</span>
              </a>
            </li>
            <li class="footer-menuitem">
              <a href="javascript:void(0)">
                <span>푸터메뉴2</span>
              </a>
            </li>
          </ul>
          <ul class="footer-snslist">
            <li class="footer-snsitem">
              <a class="footer-snslink" href="javascript:void(0)">
                <img src="{% static 'icons/ico_instagram_lightgrey.svg' %}" alt="인스타그램">
              </a>
            </li>
            <li class="footer-snsitem">
              <a class="footer-snslink" href="javascript:void(0)">
                <img src="{% static 'icons/ico_youtube_lightgrey.svg' %}" alt="유튜브">
              </a>
            </li>
            <li class="footer-snsitem">
              <a class="footer-snslink" href="javascript:void(0)">
                <img src="{% static 'icons/ico_facebook_lightgrey.svg' %}" alt="페이스북">
              </a>
            </li>
            <li class="footer-snsitem">
              <a class="footer-snslink" href="javascript:void(0)">
                <img src="{% static 'icons/ico_kakao_lightgrey.svg' %}" alt="카카오톡">
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-wrapper">
        <div class="footer-container">
          <div class="footer-left">
            <h1 class="footer-logo">
              <a href="javascript:void(0)">
                <img src="{% static 'images/img_logo_footer.png' %}" alt="로고">
              </a>
            </h1>
            <div class="footer-txtgroup">
              <div class="footer-txt">
                <p> 서울시 영등포구 선유로70 우리벤처타운2 705호 </p>
                <p>
                  <span>T. 070-8872-8874</span>
                  <span>E. help@openfield.co.kr</span>
                </p>
              </div>
              <div class="footer-txt">
                <p>2022 BY TEMPLATEHOUSE. ALL RIGHTS RESEVED</p>
              </div>
            </div>
          </div>
          <div class="selectset selectset-sm">
            <button class="selectset-toggle btn" type="button">
              <span>Family Site</span>
            </button>
            <ul class="selectset-list">
              <li class="selectset-item">
                <button class="selectset-link btn" type="button" data-value="Family Site">
                  <span>Family Site</span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-footer">
      <div class="footer-wrapper">
        <div class="footer-container container-md">
          <div class="footer-left">
            <h1 class="footer-logo">
              <a href="javascript:void(0)">
                <img src="{% static 'images/img_logo_footer.png' %}" alt="로고">
              </a>
            </h1>
            <div class="footer-content">
              <ul class="footer-menulist">
                <li class="footer-menuitem">
                  <a href="javascript:void(0)">
                    <span>이용약관</span>
                  </a>
                </li>
                <li class="footer-menuitem">
                  <a href="javascript:void(0)">
                    <span>개인정보처리방침</span>
                  </a>
                </li>
                <li class="footer-menuitem">
                  <a href="javascript:void(0)">
                    <span>푸터메뉴1</span>
                  </a>
                </li>
                <li class="footer-menuitem">
                  <a href="javascript:void(0)">
                    <span>푸터메뉴2</span>
                  </a>
                </li>
              </ul>
              <div class="footer-txtgroup">
                <div class="footer-txt">
                  <p> 서울시 영등포구 선유로70 우리벤처타운2 705호 </p>
                  <p>
                    <span>T. 070-8872-8874</span>
                    <span>E. help@openfield.co.kr</span>
                  </p>
                </div>
                <div class="footer-txt">
                  <p>2022 BY TEMPLATEHOUSE. ALL RIGHTS RESEVED</p>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-right">
            <ul class="footer-snslist">
              <li class="footer-snsitem">
                <a class="footer-snslink" href="javascript:void(0)">
                  <img src="{% static 'icons/ico_instagram_lightgrey.svg' %}" alt="인스타그램">
                </a>
              </li>
              <li class="footer-snsitem">
                <a class="footer-snslink" href="javascript:void(0)">
                  <img src="{% static 'icons/ico_youtube_lightgrey.svg' %}" alt="유튜브">
                </a>
              </li>
              <li class="footer-snsitem">
                <a class="footer-snslink" href="javascript:void(0)">
                  <img src="{% static 'icons/ico_facebook_lightgrey.svg' %}" alt="페이스북">
                </a>
              </li>
              <li class="footer-snsitem">
                <a class="footer-snslink" href="javascript:void(0)">
                  <img src="{% static 'icons/ico_kakao_lightgrey.svg' %}" alt="카카오톡">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- [E]opilsol-N3 -->
  <script src="{% static 'js/setting.js' %}"></script>
  <script src="{% static 'js/plugin.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <script src="{% static 'js/common.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
</body>