{% load static %}
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 my-3 my-lg-0">
{#                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>#}
{#                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>#}
{#                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>#}
                <a class="navbar-brand" href="{% url 'main' %}"><img class="nav_mobile_img" src="{% static 'images/logo/logo_white.png' %}" alt="..." style="width: 25%"/></a>
            </div>
            <div class="col-lg-4 text-lg-start">
                <div class="row">
                    <div class="col-lg-12">BS-stock  에이스 스마트윙 영통지식산업센터 경기 수원시 영통구 원천동 246 525호</div>
                    <div class="col-lg-12">사업자 등록번호 : 119-27-01576</div>
                </div>
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="link-light text-decoration-none me-3" href="#!">TEL : 010 - 7903 - 5254</a>
                <a class="link-light text-decoration-none" href="#!">E-mail : BS-stock@naver.com</a>
            </div>
        </div>
    </div>
</footer>