{% load static %}
<footer class="opilsol-N3" data-bid="CwlQ31BRJc" style="background-color: black">
    <div class="pc-footer">
      <div class="footer-wrapper">
        <div class="footer-container">
          <div class="footer-left">
            <h1 class="footer-logo">
              <a href="javascript:void(0)">
                <img src="{% static 'images/img_logo_footer.png' %}" alt="로고">
              </a>
            </h1>
            <div class="footer-txtgroup">
              <div class="footer-txt">
                <p> 서울시 영등포구 선유로70 우리벤처타운2 705호 </p>
                <p>
                  <span>T. 070-8872-8874</span>
                  <span>E. help@openfield.co.kr</span>
                </p>
              </div>
              <div class="footer-txt">
                <p>2022 BY TEMPLATEHOUSE. ALL RIGHTS RESEVED</p>
              </div>
            </div>
          </div>
          <div class="selectset selectset-sm">
            <button class="selectset-toggle btn" type="button">
              <span>Family Site</span>
            </button>
            <ul class="selectset-list">
              <li class="selectset-item">
                <button class="selectset-link btn" type="button" data-value="Family Site">
                  <span>Family Site</span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-footer">
      <div class="footer-wrapper">
        <div class="footer-container container-md">
          <div class="footer-left">
            <h1 class="footer-logo">
              <a href="javascript:void(0)">
                <img src="{% static 'images/img_logo_footer.png' %}" alt="로고">
              </a>
            </h1>
              <div class="footer-txtgroup">
                <div class="footer-txt">
                  <p> 서울시 영등포구 선유로70 우리벤처타운2 705호 </p>
                  <p>
                    <span>T. 070-8872-8874</span>
                    <span>E. help@openfield.co.kr</span>
                  </p>
                </div>
                <div class="footer-txt">
                  <p>2022 BY TEMPLATEHOUSE. ALL RIGHTS RESEVED</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </footer>